### This notebook demonstrates how to convert the output of a API query for a dataset from data.gov.sg to a pandas dataframe. The example used below is for the [dataset](https://beta.data.gov.sg/datasets?query=income&resultId=d_ecc9bf4002ce1ea951abbb59432dfc82) on Average Monthly Household Income Among Resident Households by Income Quintile and Type of Dwelling.

In [1]:
import requests
          
base_url = "https://data.gov.sg/api/action/datastore_search"
url = base_url + "?resource_id=d_ecc9bf4002ce1ea951abbb59432dfc82"
        
response = requests.get(url)
print(response.json())

{'help': 'https://data.gov.sg/api/3/action/help_show?name=datastore_search', 'success': True, 'result': {'resource_id': 'd_ecc9bf4002ce1ea951abbb59432dfc82', 'fields': [{'type': 'text', 'id': 'Dollar'}, {'type': 'numeric', 'id': 'Total3'}, {'type': 'numeric', 'id': 'HDBDwellings_TotalHDB'}, {'type': 'numeric', 'id': 'HDBDwellings_1_and2_RoomFlats4'}, {'type': 'numeric', 'id': 'HDBDwellings_3_RoomFlats'}, {'type': 'numeric', 'id': 'HDBDwellings_4_RoomFlats'}, {'type': 'numeric', 'id': 'HDBDwellings_5_RoomandExecutiveFlats'}, {'type': 'numeric', 'id': 'CondominiumsandOtherApartments'}, {'type': 'numeric', 'id': 'LandedProperties'}, {'type': 'int4', 'id': '_id'}], 'records': [{'_id': 1, 'Dollar': 'Total', 'Total3': '11777', 'HDBDwellings_TotalHDB': '8731', 'HDBDwellings_1_and2_RoomFlats4': '2521', 'HDBDwellings_3_RoomFlats': '5868', 'HDBDwellings_4_RoomFlats': '8827', 'HDBDwellings_5_RoomandExecutiveFlats': '12244', 'CondominiumsandOtherApartments': '21830', 'LandedProperties': '28937'}, {'_id': 2, 'Dollar': '1st - 20th 2/', 'Total3': '2235', 'HDBDwellings_TotalHDB': '2293', 'HDBDwellings_1_and2_RoomFlats4': '1583', 'HDBDwellings_3_RoomFlats': '2091', 'HDBDwellings_4_RoomFlats': '2669', 'HDBDwellings_5_RoomandExecutiveFlats': '2668', 'CondominiumsandOtherApartments': '1470', 'LandedProperties': '1605'}, {'_id': 3, 'Dollar': '21st - 40th', 'Total3': '5981', 'HDBDwellings_TotalHDB': '5916', 'HDBDwellings_1_and2_RoomFlats4': '3361', 'HDBDwellings_3_RoomFlats': '4806', 'HDBDwellings_4_RoomFlats': '6214', 'HDBDwellings_5_RoomandExecutiveFlats': '7224', 'CondominiumsandOtherApartments': '6308', 'LandedProperties': '7863'}, {'_id': 4, 'Dollar': '41st - 60th', 'Total3': '9678', 'HDBDwellings_TotalHDB': '9434', 'HDBDwellings_1_and2_RoomFlats4': '4414', 'HDBDwellings_3_RoomFlats': '7001', 'HDBDwellings_4_RoomFlats': '9558', 'HDBDwellings_5_RoomandExecutiveFlats': '11074', 'CondominiumsandOtherApartments': '10741', 'LandedProperties': '13136'}, {'_id': 5, 'Dollar': '61st - 80th', 'Total3': '14407', 'HDBDwellings_TotalHDB': '13324', 'HDBDwellings_1_and2_RoomFlats4': '5928', 'HDBDwellings_3_RoomFlats': '9313', 'HDBDwellings_4_RoomFlats': '12986', 'HDBDwellings_5_RoomandExecutiveFlats': '15720', 'CondominiumsandOtherApartments': '16853', 'LandedProperties': '20986'}, {'_id': 6, 'Dollar': '81st - 100th', 'Total3': '26587', 'HDBDwellings_TotalHDB': '18012', 'HDBDwellings_1_and2_RoomFlats4': '10608', 'HDBDwellings_3_RoomFlats': '12291', 'HDBDwellings_4_RoomFlats': '16467', 'HDBDwellings_5_RoomandExecutiveFlats': '22312', 'CondominiumsandOtherApartments': '30945', 'LandedProperties': '48056'}], '_links': {'start': '/api/action/datastore_search?resource_id=d_ecc9bf4002ce1ea951abbb59432dfc82', 'next': '/api/action/datastore_search?resource_id=d_ecc9bf4002ce1ea951abbb59432dfc82&offset=100'}, 'total': 6}}

In [13]:
type(response.json())

dict

In [15]:
response.json()['result']['records']

[{'_id': 1,
  'Dollar': 'Total',
  'Total3': '11777',
  'HDBDwellings_TotalHDB': '8731',
  'HDBDwellings_1_and2_RoomFlats4': '2521',
  'HDBDwellings_3_RoomFlats': '5868',
  'HDBDwellings_4_RoomFlats': '8827',
  'HDBDwellings_5_RoomandExecutiveFlats': '12244',
  'CondominiumsandOtherApartments': '21830',
  'LandedProperties': '28937'},
 {'_id': 2,
  'Dollar': '1st - 20th 2/',
  'Total3': '2235',
  'HDBDwellings_TotalHDB': '2293',
  'HDBDwellings_1_and2_RoomFlats4': '1583',
  'HDBDwellings_3_RoomFlats': '2091',
  'HDBDwellings_4_RoomFlats': '2669',
  'HDBDwellings_5_RoomandExecutiveFlats': '2668',
  'CondominiumsandOtherApartments': '1470',
  'LandedProperties': '1605'},
 {'_id': 3,
  'Dollar': '21st - 40th',
  'Total3': '5981',
  'HDBDwellings_TotalHDB': '5916',
  'HDBDwellings_1_and2_RoomFlats4': '3361',
  'HDBDwellings_3_RoomFlats': '4806',
  'HDBDwellings_4_RoomFlats': '6214',
  'HDBDwellings_5_RoomandExecutiveFlats': '7224',
  'CondominiumsandOtherApartments': '6308',
  'LandedProperties': '7863'},
 {'_id': 4,
  'Dollar': '41st - 60th',
  'Total3': '9678',
  'HDBDwellings_TotalHDB': '9434',
  'HDBDwellings_1_and2_RoomFlats4': '4414',
  'HDBDwellings_3_RoomFlats': '7001',
  'HDBDwellings_4_RoomFlats': '9558',
  'HDBDwellings_5_RoomandExecutiveFlats': '11074',
  'CondominiumsandOtherApartments': '10741',
  'LandedProperties': '13136'},
 {'_id': 5,
  'Dollar': '61st - 80th',
  'Total3': '14407',
  'HDBDwellings_TotalHDB': '13324',
  'HDBDwellings_1_and2_RoomFlats4': '5928',
  'HDBDwellings_3_RoomFlats': '9313',
  'HDBDwellings_4_RoomFlats': '12986',
  'HDBDwellings_5_RoomandExecutiveFlats': '15720',
  'CondominiumsandOtherApartments': '16853',
  'LandedProperties': '20986'},
 {'_id': 6,
  'Dollar': '81st - 100th',
  'Total3': '26587',
  'HDBDwellings_TotalHDB': '18012',
  'HDBDwellings_1_and2_RoomFlats4': '10608',
  'HDBDwellings_3_RoomFlats': '12291',
  'HDBDwellings_4_RoomFlats': '16467',
  'HDBDwellings_5_RoomandExecutiveFlats': '22312',
  'CondominiumsandOtherApartments': '30945',
  'LandedProperties': '48056'}]

In [6]:
from pandas import json_normalize

In [17]:
df = json_normalize(response.json()['result']['records'])

In [18]:
df

,_id,Dollar,Total3,HDBDwellings_TotalHDB,HDBDwellings_1_and2_RoomFlats4,HDBDwellings_3_RoomFlats,HDBDwellings_4_RoomFlats,HDBDwellings_5_RoomandExecutiveFlats,CondominiumsandOtherApartments,LandedProperties
0,1,Total,11777,8731,2521,5868,8827,12244,21830,28937
1,2,1st - 20th 2/,2235,2293,1583,2091,2669,2668,1470,1605
2,3,21st - 40th,5981,5916,3361,4806,6214,7224,6308,7863
3,4,41st - 60th,9678,9434,4414,7001,9558,11074,10741,13136
4,5,61st - 80th,14407,13324,5928,9313,12986,15720,16853,20986
5,6,81st - 100th,26587,18012,10608,12291,16467,22312,30945,48056

References: https://stackoverflow.com/questions/66725556/the-json-object-must-be-str-bytes-or-bytearray-not-method